{{ 'namma-organic-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<style>
   .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
.left_side_img_2{position: relative;}
  .left_side_img_2:after{
    content:'';
    background:url('{{ section.settings.left_bg_image_pattern | image_url: width: 150 }}');
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: -50px;
    right: -50px;
    bottom: 0;
    z-index: -1;
  }
  .namma-organic-newsletter .left_side_img_2 .svg_icon_content_section {
    position: absolute;
    bottom: -50px;
    left: 80px;
    z-index: -1;
}
  .name_field{
  background: {{ section.settings.name_field }};
}
  .email_field{
  background: {{ section.settings.email_field }};
}
  .phone_field{
  background: {{ section.settings.phone_field }};
}
  .textarea_field{
  background: {{ section.settings.textarea_field }};
}
  @media screen and (max-width: 1199px){
    .left_side_img_2:after{
      display: none;
    }
  }
</style>

{%- liquid
  assign margin = section.settings.margin | split: ','
  assign margin_top = margin[0]
  assign margin_bottom = margin[1]
  assign padding = section.settings.padding | split: ','
  assign padding_top = padding[0]
  assign padding_bottom = padding[1]

  if section.settings.enable_overlay
  assign section_overlay = 'dt-sc-overlay'
  endif

  if section.settings.show_background_image
  assign lazyScript = "lazyload"
  endif
  %}
<div class="namma-organic-newsletter">
<div class="dt-sc-section-wrapper  {{ lazyScript }} {{ section_overlay }} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" {% if section.settings.background_style == 'parallax' %} data-speed="2" data-style="parallax"{% endif %} style="{% if section.settings.show_background_image %}background-position:center center;{% endif %} background-size: {{- section.settings.background_size -}}; {% if section.settings.background_style == 'fixed' %}background-attachment: fixed;{% endif %} background-repeat:{% if section.settings.background_size == 'repeat' %}repeat{% else %}no-repeat;{% endif %}" {% render 'bg_image' %}>
{%- if section.settings.cover_image != blank -%}
    <div class="banner__media media{% if section.settings.cover_image == blank %} placeholder{% endif %}">
      <img
        srcset="{%- if section.settings.cover_image.width >= 375 -%}{{ section.settings.cover_image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.cover_image.width >= 550 -%}{{ section.settings.cover_image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.settings.cover_image.width >= 750 -%}{{ section.settings.cover_image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.cover_image.width >= 1100 -%}{{ section.settings.cover_image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.cover_image.width >= 1500 -%}{{ section.settings.cover_image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.cover_image.width >= 1780 -%}{{ section.settings.cover_image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.cover_image.width >= 2000 -%}{{ section.settings.cover_image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {%- if section.settings.cover_image.width >= 3000 -%}{{ section.settings.cover_image | image_url: width: 3000 }} 3000w,{%- endif -%}
          {%- if section.settings.cover_image.width >= 3840 -%}{{ section.settings.cover_image | image_url: width: 3840 }} 3840w,{%- endif -%}
          {{ section.settings.cover_image | image_url }} {{ section.settings.cover_image.width }}w"
        sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
        src="{{ section.settings.cover_image | image_url: width: 1500 }}"
        loading="lazy"
        alt="{{ section.settings.cover_image.alt | escape }}"
        width="{{ section.settings.cover_image.width }}"
        height="{{ section.settings.cover_image.width | divided_by: section.settings.cover_image.aspect_ratio }}"
        {% if section.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
      >
    </div>
  {%- endif -%}
 <div class="{% if section.settings.page_full_width %} page-full-width {% else %} page-width {% endif %} {% if section.settings.page_full_width_spacing %} page-full-width_spacing {% endif %}section-{{ section.id }}-padding isolate">
   <div class="row {{ section.settings.custom_class_name }}">
       {% if section.settings.section_heading != blank or section.settings.section_sub_heading != blank or   section.settings.section_description != blank or section.settings.section_button_link != blank %}
        <div class="dt-sc-heading wow fadeIn {% if settings.title_image_enable != blank %} {{ settings.title_image_position | escape }} {% endif %} {{ section.settings.heading_position | escape }}">
        {% if section.settings.section_sub_heading != blank %}
        <h2 class="dt-sc-sub-heading">{{ section.settings.section_sub_heading }}</h2>
        {% endif %}
        {% if section.settings.section_heading != blank %}
        <h3 class="dt-sc-main-heading">{{ section.settings.section_heading }}</h3>
        {% endif %}      
        {% if section.settings.section_description != blank %}
        <p class="dt-sc-heading-description">{{ section.settings.section_description }}</p>
        {% endif %}
        {% if section.settings.section_button_link != blank  and section.settings.section_button_text != blank %}
        <a href="{{ section.settings.section_button_link }}" class="dt-sc-btn">{{ section.settings.section_button_text }}</a>
        {% endif %}
        </div>
        {% endif %}
      <div class="dt-sc-newsletter-section style-3 {{ section.settings.section_position }} wow {% if section.settings.animation_effect_section != 'none' %} {{ section.settings.animation_effect_section }} {% endif %}">
       <div class="left-image {% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}">
         <div class="left_side_img_1">
           <div class="svg_icon_content_section">
       {%- if  section.settings.svg_icons_1 != blank -%}
        {{ section.settings.svg_icons_1 }}
         {% endif %}
      </div>
         {% if section.settings.left_image != blank %}
          <img
              srcset="{%- if section.settings.left_image.width >= 375 -%}{{ section.settings.left_image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if section.settings.left_image.width >= 550 -%}{{ section.settings.left_image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if section.settings.left_image.width >= 750 -%}{{ section.settings.left_image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.left_image.width >= 1100 -%}{{ section.settings.left_image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if section.settings.left_image.width >= 1500 -%}{{ section.settings.left_image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if section.settings.left_image.width >= 1780 -%}{{ section.settings.left_image | image_url: width: 1780 }} 1780w,{%- endif -%}
              {%- if section.settings.left_image.width >= 2000 -%}{{ section.settings.left_image | image_url: width: 2000 }} 2000w,{%- endif -%}
              {%- if section.settings.left_image.width >= 3000 -%}{{ section.settings.left_image | image_url: width: 3000 }} 3000w,{%- endif -%}
              {%- if section.settings.left_image.width >= 3840 -%}{{ section.settings.left_image | image_url: width: 3840 }} 3840w,{%- endif -%}
              {{ section.settings.left_image | image_url: width: 1500 }} {{ section.settings.left_image.width }}w"
              sizes="100vw"
              src="{{ section.settings.block_image | image_url: width: 1500 }}"
              loading="lazy"              
              alt="{{ section.settings.block_image.alt | escape }}"
               width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
            >
           {% endif %}
         </div>
         <div class="left_side_img_2">
         {% if section.settings.left_image_1 != blank %}
          <img
              srcset="{%- if section.settings.left_image_1.width >= 375 -%}{{ section.settings.left_image_1 | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if section.settings.left_image_1.width >= 550 -%}{{ section.settings.left_image_1 | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if section.settings.left_image_1.width >= 750 -%}{{ section.settings.left_image_1 | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.left_image_1.width >= 1100 -%}{{ section.settings.left_image_1 | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if section.settings.left_image_1.width >= 1500 -%}{{ section.settings.left_image_1 | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if section.settings.left_image_1.width >= 1780 -%}{{ section.settings.left_image_1 | image_url: width: 1780 }} 1780w,{%- endif -%}
              {%- if section.settings.left_image_1.width >= 2000 -%}{{ section.settings.left_image_1 | image_url: width: 2000 }} 2000w,{%- endif -%}
              {%- if section.settings.left_image_1.width >= 3000 -%}{{ section.settings.left_image_1 | image_url: width: 3000 }} 3000w,{%- endif -%}
              {%- if section.settings.left_image_1.width >= 3840 -%}{{ section.settings.left_image_1 | image_url: width: 3840 }} 3840w,{%- endif -%}
              {{ section.settings.left_image_1 | image_url: width: 1500 }} {{ section.settings.left_image_1.width }}w"
              sizes="100vw"
              src="{{ section.settings.block_image | image_url: width: 1500 }}"
              loading="lazy"              
              alt="{{ section.settings.block_image.alt | escape }}"
               width="{{ section.settings.image.width }}"
              height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
            >
           {% endif %}
           <div class="svg_icon_content_section">
       {%- if  section.settings.svg_icons != blank -%}
        {{ section.settings.svg_icons }}
         {% endif %}
      </div>
         </div>
        </div>
        <div class="dt-sc-newsletter-form">
           {% if section.settings.news_sub_heading != blank %}
            <h2 class="news-sub-heading">{{ section.settings.news_sub_heading }}</h2>
            {% endif %}
            {% if section.settings.news_heading != blank %}
            <h2 class="news-main-heading h1">{{ section.settings.news_heading }}</h2>
            {% endif %}
            {% if section.settings.news_description != blank %}
            <p class="news-description">{{ section.settings.news_description }}</p>
            {% endif %}
          {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
          <h4 class="note form-success"  style="color:var(--DT_Success_Color)">{{ 'general.newsletter_form.mailing_list_success_message' | t }}</h4>
          {% else %}
         
           <div class="article-template__comment-fields">
              <div class="form_1">
                <div class="field field--with-error">
                <input type="text" name="comment[author]" id="CommentForm-author" class="field__input name_field" autocomplete="name" value="{{ form.author }}" aria-required="true" required {% if form.errors contains 'author' %} aria-invalid="true" aria-describedby="CommentForm-author-error" {% endif %}  placeholder="{{ 'blogs.article.name' | t }}" >
                <label class="field__label" for="CommentForm-author">{{- 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'author' -%}
                  <small id="CommentForm-author-error"><span class="form__message"> {%- render 'icon-error' -%} {{- 'blogs.article.name' | t }} {{ form.errors.messages.author }}.</span></small>
                {%- endif -%}
              </div>
              <div class=" field field--with-error">
                <input type="email" name="comment[email]" id="CommentForm-email" autocomplete="email" class="field__input email_field" value="{{ form.email }}" autocorrect="off" autocapitalize="off"  aria-required="true" required {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="CommentForm-email-error" {% endif %} placeholder="{{ 'blogs.article.email' | t }}">
                <label class="field__label" for="CommentForm-email">{{- 'blogs.article.email' | t }}<span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'email' -%} <small id="CommentForm-email-error"><span class="form__message">{%- render 'icon-error' -%}{{- 'blogs.article.email' | t }}{{ form.errors.messages.email }}.</span> </small>
                {%- endif -%}
              </div>
              </div>
             <div class=" field field--with-error">
                <input type="phone" name="comment[phone]" id="CommentForm-email" autocomplete="phone" class="field__input phone_field" value="{{ form.phone }}" autocorrect="off" autocapitalize="off"  aria-required="true" required {% if form.errors contains 'phone' %} aria-invalid="true" aria-describedby="CommentForm-email-error" {% endif %} placeholder="{{ 'blogs.article.phone' | t }}">
                <label class="field__label" for="CommentForm-email">{{- 'blogs.article.phone' | t }}<span aria-hidden="true">*</span></label>
                {%- if form.errors contains 'phone' -%} <small id="CommentForm-email-error"><span class="form__message">{%- render 'icon-error' -%}{{- 'blogs.article.email' | t }}{{ form.errors.messages.email }}.</span> </small>
                {%- endif -%}
              </div>
             <div class="field field--with-error">
              <textarea
                rows="5"
                name="comment[body]"
                id="CommentForm-body"
                class="text-area field__input textarea_field"
                aria-required="true"
                required
                {% if form.errors contains 'body' %}
                  aria-invalid="true"
                  aria-describedby="CommentForm-body-error"
                {% endif %}                
              >{{ form.body }}</textarea>
              <label class="form__label field__label" for="CommentForm-body">
                {{- 'blogs.article.message' | t }}
                <span aria-hidden="true"></span></label
              >
            </div>
            {%- if form.errors contains 'body' -%}
              <small id="CommentForm-body-error"> <span class="form__message"> {%- render 'icon-error' -%} {{- 'blogs.article.message' | t }} {{ form.errors.messages.body }}.</span> </small>
            {%- endif -%}
            </div>
          {% endif %}
            <button type="submit" class="button {% if section.settings.reverse_column %}reverse{% endif %}" name="subscribe" value="" ><span>{{ 'newsletter.button_label' | t }}</span>
             {% render 'icon-button' %}</button>
          {% endform %}
           
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{%- style -%}
 
.namma-organic-newsletter .dt-sc-heading .dt-sc-main-heading {color:var(--DTColor_Heading); color:{{section.settings.section_heading_color}};}

.namma-organic-newsletter .dt-sc-heading .dt-sc-sub-heading {color:var(--DTColor_Heading); color:{{section.settings.section_sub_heading_color}};}

.namma-organic-newsletter .dt-sc-heading .dt-sc-heading-description {color:var(--DTColor_Body); color:{{section.settings.section_description_color}};}

.namma-organic-newsletter .dt-sc-heading .dt-sc-btn {background:var(--DT_Button_BG_Color); background:{{section.settings.section_button_bg_color}};color:var(--DT_Button_Text_Color); color:{{section.settings.section_button_text_color}};}

.namma-organic-newsletter .dt-sc-heading .dt-sc-btn:hover {background:var(--DT_Button_BG_Hover_Color); background:{{section.settings.section_button_hover_bg_color}};color:var(--DT_Button_Text_Hover_Color); color:{{section.settings.section_button_hover_text_color}};}

.namma-organic-newsletter .dt-sc-overlay:before {color:var(--DTTertiaryColor); color:{{section.settings.background_color}};background:currentcolor; opacity:{{section.settings.overlay_transparency}};}

.namma-organic-newsletter .dt-sc-newsletter-section.default .dt-sc-newsletter-form, .dt-sc-newsletter-section.style-3 form, .dt-sc-newsletter-section.style-4 form {width:{{section.settings.newsletter_form_width}};}

.namma-organic-newsletter .dt-sc-newsletter-section.default form .contact-input input[type="email"] {margin-right:{{section.settings.space_in_between}};}

.namma-organic-newsletter .dt-sc-newsletter-section.default form .contact-input .dt-sc-btn {border-width:1px; border-style:solid; border-color:var(--DT_Button_BG_Color); border-color:{{section.settings.newsletter_button_bg_color}};}

.namma-organic-newsletter .dt-sc-newsletter-section.default form .contact-input .dt-sc-btn:hover {border-color:var(--DT_Button_BG_Hover_Color); border-color:{{section.settings.newsletter_button_hover_bg_color}};}

.namma-organic-newsletter .dt-sc-newsletter-section.style-2 form .contact-input input[type="email"] {margin:0 auto{{section.settings.space_in_between}};}

.namma-organic-newsletter .dt-sc-newsletter-section.style-2.text-start form .contact-input input[type="email"] {margin-left:inherit;}
.namma-organic-newsletter .dt-sc-newsletter-section.style-2.text-end form .contact-input input[type="email"] {margin-right:inherit;}

.namma-organic-newsletter .dt-sc-newsletter-section.style-5 form .contact-input input[type="email"] {margin:0 auto{{section.settings.space_in_between}};}

.namma-organic-newsletter .dt-sc-newsletter-section form .contact-input input[type="email"] {border-color:var(--DTColor_Border); border-color:{{section.settings.newsletter_box_border_color}};background:{{section.settings.newsletter_box_bg_color}};}

.namma-organic-newsletter .dt-sc-newsletter-section.style-4 form .contact-input button.dt-sc-btn {border-color:var(--DTColor_Border); border-color:{{section.settings.newsletter_box_border_color}};}

.namma-organic-newsletter .dt-sc-newsletter-section form .contact-input input[type="email"]:focus, .dt-sc-newsletter-section.style-4 form .contact-input:focus-within button.dt-sc-btn {border-color:var(--DTPrimaryColor); border-color:{{section.settings.newsletter_box_border_focus_color}};}

.namma-organic-newsletter .dt-sc-newsletter-section:not(.style-4) form .contact-input .dt-sc-btn {background:var(--DT_Button_BG_Color); color:var(--DT_Button_Text_Color); background:{{section.settings.newsletter_button_bg_color}};color:{{section.settings.newsletter_button_text_color}};}

.namma-organic-newsletter .dt-sc-newsletter-section:not(.style-4) form .contact-input .dt-sc-btn:hover {background:var(--DT_Button_BG_Hover_Color); color:var(--DT_Button_Text_Hover_Color); background:{{section.settings.newsletter_button_hover_bg_color}};color:{{section.settings.newsletter_button_hover_text_color}};}
.namma-organic-newsletter .dt-sc-newsletter-section.style-4 form .contact-input button.dt-sc-btn {background:none; color:{{settings.link_color}};color:{{section.settings.newsletter_button_text_color}};position:absolute; right:5px; top:50%; transform:translateY(-50%); border-width:0 0 0 1px; border-style:solid; padding-top:0; padding-bottom:0; border-radius:0;}

.namma-organic-newsletter .dt-sc-newsletter-section.style-4 form .contact-input button.dt-sc-btn:hover {color:{{settings.link_hover_color}};color:{{section.settings.newsletter_button_hover_text_color}};}

@media only screen and (min-width: 1200px) {
.namma-organic-newsletter .dt-sc-section-wrapper {margin-top:{{margin_top}}px; margin-bottom:{{margin_bottom}}px; padding-top:{{padding_top}}px; padding-bottom:{{padding_bottom}}px;}
}

@media only screen and (max-width: 1199px) {
.namma-organic-newsletter .dt-sc-section-wrapper {margin-top:{{margin_top | divided_by:2}}px; margin-bottom:{{margin_bottom | divided_by:2}}px; padding-top:{{padding_top | divided_by:2}}px; padding-bottom:{{padding_bottom | divided_by:2}}px;}
}
@media (max-width: 767px) {
.namma-organic-newsletter .dt-sc-newsletter-container .dt-sc-newsletter-modal .dt-sc-newsletter-content.default form.contact-form {width:80%;}
.namma-organic-newsletter .dt-sc-newsletter-container .dt-sc-newsletter-modal .dt-sc-newsletter-content.style-3 form.contact-form, .dt-sc-newsletter-container .dt-sc-newsletter-modal .dt-sc-newsletter-content.style-4 form.contact-form {width:100%;}
.namma-organic-newsletter .dt-sc-newsletter-container .dt-sc-newsletter-modal .dt-sc-newsletter-content.default form.contact-form input[type="email"] {margin-bottom:{{section.settings.space_in_between}};margin-right:0; width:100%;}
}
                                                                                                                             
{%- endstyle -%}

{% schema %}
{
"name": "Newsletter",
"class": "index-section home-newsletter-section",
"settings": [
{
"type":"checkbox",
"id":"page_full_width",
 "default": false,
"label": "t:sections.all.page_full_width.label"
},
{
"type":"checkbox",
"id":"page_full_width_spacing",
 "default": false,
"label": "t:sections.all.page_full_width_spacing.label"
},
   {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video-pop-up.settings.cover_image.label"
    },
   
{
  "type": "range",
  "id": "padding_top",
  "min": 0,
  "max": 280,
  "step": 4,
  "unit": "px",
  "label": "t:sections.all.padding.padding_top",
  "default": 36
},
{
  "type": "range",
  "id": "padding_bottom",
  "min": 0,
  "max": 280,
  "step": 4,
  "unit": "px",
  "label": "t:sections.all.padding.padding_bottom",
  "default": 36
},
{
"type": "header",
"content": "Form Settings"
},
  {
          "type": "html",
          "id": "svg_icons_1",
          "label": "t:sections.support-block.blocks.column.settings.svg_icons.label"
        },
{
"type": "image_picker",
"id": "left_image",
"label": "Image"
},
  {
"type": "image_picker",
"id": "left_image_1",
"label": "Image"
},
 {
    "type": "image_picker",
    "id": "left_bg_image_pattern",
    "label": "Pattern image"
    },
  {
          "type": "html",
          "id": "svg_icons",
          "label": "t:sections.support-block.blocks.column.settings.svg_icons.label"
        },
{
"type": "text",
"id": "news_heading",
"label": "t:sections.newsletter.settings.main_heading.label",
"default": "Newsletter"
},
{
"type": "text",
"id": "news_sub_heading",
"label": "t:sections.newsletter.settings.sub_heading.label",
"default": "Sub Heading"
},
  {
"type": "text",
"id": "news_description",
"label": "t:sections.newsletter.settings.desc.label",
"default": "description"
},
{
"type": "text",
"id": "newsletter_form_width",
"label": "t:sections.newsletter.settings.Form_Width.label",
"default": "65%"
},
{
"type": "textarea",
"id": "newsletter_description",
"label": "t:sections.newsletter.settings.Newsletter_Description.label",
"default": "Few lines of short description goes here..."
},
   {
      "type": "color",
      "id": "name_field",
      "default":"#FCEED9",
      "label": "Name bg"
    },
  {
      "type": "color",
      "id": "email_field",
      "default":"#FEEDEA",
      "label": "Email bg"
    },
  {
      "type": "color",
      "id": "phone_field",
      "default":"#EEF1DB",
      "label": "Phone bg"
    },
  {
      "type": "color",
      "id": "textarea_field",
      "default":"#FBE6DA",
      "label": "Textarea bg"
    }
],
"presets": [
{
"name": "Newsletter",
"category": "Form"
}
]
}
{% endschema %}